<button aria-label="Share place Medical clinic" (click)="openChat()" data-value="Share" jsaction="pane.placeActions.share"
        jstcache="197"
        class="mapsConsumerUiSubviewSectionGm2Actionchip__button gm2-hairline-border section-action-chip-button"
        jsan="7.mapsConsumerUiSubviewSectionGm2Actionchip__button,7.gm2-hairline-border,7.section-action-chip-button,0.aria-label,0.data-value,0.jsaction">
  <img alt="Udostępnij" draggable="false" jstcache="198"
       data-savepage-currentsrc="https://www.gstatic.com/images/icons/material/system_gm/1x/share_gm_blue_18dp.png"
       data-savepage-src="//www.gstatic.com/images/icons/material/system_gm/1x/share_gm_blue_18dp.png"
       src="/assets/images/chat.png" class="mapsConsumerUiSubviewSectionGm2Actionchip__icon"><span jstcache="199"
                                                                                                   style="display:none"></span>
</button>
